<table class="tx-zora" >
	<tr>
		<td>
			<f:translate key="tx_zora_domain_model_zora.title" />
		</td>
		<td>
			{zora.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zora_domain_model_zora.last_update" />
		</td>
		<td>
			{zora.lastUpdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zora_domain_model_zora.zora_query_type" />
		</td>
		<td>
			{zora.zoraQueryType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zora_domain_model_zora.flex_form" />
		</td>
		<td>
			{zora.flexForm}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_zora_domain_model_zora.serialized" />
		</td>
		<td>
			{zora.serialized}
		</td>
	</tr>
</table>